:root {
  --aside-background-color: #2f474e;
  --sky-blue: #34d1bf;
  --blue: #0073b1;
  --vocab-blue: #5c7080;
  --creamy: #fdf5e6;
  --dark-creamy: #e9e1d4;
  --background-color: #5c7080;
}

a {
  color: black;
}

.navbar-wrapper {
  position: fixed;
  top: 62px;
  width: 100%;
  z-index: 999; /* Adjust the z-index as needed */
}

main {
  margin-top: 125px;
  /* background-color: var(--background-color); */
  /* display: flex;
  overflow-x: hidden; */
}

.left-navbar {
  background-color: var(--aside-background-color);
  width: 20rem;
  padding: 1rem;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;
}

.left-navbar a {
  color: white !important;
}

.main-body-vocab {
  display: flex;
  align-items: center;
  /* margin-left: 250px;
  max-width: 93.2%; */
}

.main-body-navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-body-nav-ul {
  /* display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 1rem 0 1rem; */
  border-bottom: 1px solid var(--sky-blue);
}

.main-body-nav-li {
  padding: 0.7rem;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.main-body-nav-ul li:hover {
  cursor: pointer;
}

.main-body-nav-ul li a {
  color: var(--white);
  text-decoration: none;
}

a {
  text-decoration: none;
}

.checked-nav {
  /* background-color: #2F474E; */
  border-bottom: 4px solid var(--sky-blue) !important;
}

/* .checked-nav a{
  color: white;
} */

.main-container {
  width: 100%;
}

.main-container-play {
  height: 750px;
  width: 100%;
  overflow: hidden;
}

.type-module-li-selected {
  background-color: var(--sky-blue);
  font-weight: 800;
}

.main-logo {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--white);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.main-logo h1 {
  font-size: 2rem;
  font-weight: 700;
}

.main-logo-nav {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 1rem;
}

@supports (-moz-appearance: none) {
  aside {
    background-color: var(--aside-background-color);
    /* height: 62.75rem; */
  }
}

/* .main-logo-nav div {
  padding: 1rem;
  width: 10rem;
  text-align: center;
  border-radius: 2rem;
} */

.main-logo-nav div:hover {
  box-shadow: none;
  cursor: pointer;
}

.main-logo-nav a {
  text-decoration: none;
  color: var(--black);
}

.main-logo-nav-btn {
  width: 15rem;
  padding: 1rem;
  border-radius: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--creamy);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-logo-notification-tab {
  background-color: var(--dark-creamy);
  width: 30px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.main-logo-button-id {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-evenly;
  font-size: 0.9rem;
  font-weight: 600;
}

.main-logo-button-id img {
  width: 2rem;
}
