@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    /* overflow:hidden; */
}
a{
  color: black;
}
    .card-img-top {
        width: 400px; /* Set the desired width */
        height: 220px; 
        text-align:center;
        object-fit: contain;
    }
    .card-img-topdes {
      width: 370px;
      height: 350px;
    }

    .text-start {
      flex-grow: 1;
    }

    .open-button {
        background: linear-gradient(to right,rgb(190, 186, 186),rgb(195, 0, 255));
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        position: fixed;
        bottom: 23px;
        right: 28px;
      }

      .open-button:hover {
        background: linear-gradient(to right,black, rgb(195, 0, 255));
        color: white;
      }

      @keyframes moveUpDown {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
        100% {
          transform: translateY(0);
        }
      }
  
      .open-button,  .open-button img{
        animation: moveUpDown 1s infinite;
      }

      .activecard{
        border:3px solid black
      }

    ::-webkit-scrollbar {
    width: 3px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888; 
    }