:root {
  --page-background: #f3f6f8;
  --card-background: #ffffff;
  --text-color: #000;
  --details-color: #333333;
  --primary-button: #0073b1;
  --secondary-button: #d6dadf;
  --border-color: #d3d3d3;
  --white: #fff;
  --notification-red: #ff4136;
  --sky-blue: #6bb4d6;
  --pink: #f36;
  --blue: #0073b1;
  --creamy: #fdf5e6;

  --post-text-size: 1.15rem;
  --heading-font-size: 1rem;
  --sub-details-size: 0.75rem;
  --card-border-radius: 1rem;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* .main-logo {
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo h1 {
  font-size: 2rem;
  font-weight: 700;
}

.main-logo-nav {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 1rem;
} */

/* .main-logo-nav div {
  padding: 1rem;
  width: 10rem;
  text-align: center;
  border-radius: 2rem;
} */

/* .main-logo-nav div:hover {
  box-shadow: none;
  cursor: pointer;
}

.main-logo-nav a {
  text-decoration: none;
  color: var(--black);
}

.main-logo-nav-btn {
  width: 15rem;
  padding: 1rem;
  border-radius: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--creamy);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-logo-button-id {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-evenly;
  font-size: 1rem;
}

.main-logo-button-id img {
  width: 2rem;
} */

body {
  background-color: var(--page-background);
}

a {
  text-decoration: none;
  /* color: var(--details-color); */
}

.back-button-box {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  background-color: var(--page-background);
  position: absolute;
}

.back-button img {
  width: 1rem;
}

.back-button {
  background-color: var(--page-background);
  color: var(--card-background);
  border: 1px solid var(--border-color);
  border-radius: var(--card-border-radius);
  padding: 1rem;
}

.back-button:hover {
  background-color: var(--border-color);
  cursor: pointer;
}

.container {
  background-color: var(--page-background);
  display: flex;
  justify-content: space-around;
  padding: 2rem 5rem 2rem 5rem;
  /* overflow: auto; */
  /* height: 100vh; */
}

.user-profile {
  position: sticky;
  top: 0;
  width: 12rem;
  height: 15rem;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: var(--card-border-radius);
  border: 1px solid var(--border-color);
  margin-right: 1.5rem;
}

.user-profile-name {
  font-size: var(--heading-font-size);
  font-weight: bold;
}

.user-profile-details-box {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.user-profile-avatar {
  border-bottom: 1px solid var(--border-color);
  width: 70%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-avatar img {
  width: 4rem;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

main {
  width: 40rem;
  height: 100vh;
  overflow: scroll;
}

.create-post-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem 2rem 2rem;
  border-bottom: 1px solid var(--border-color);
}

.create-post-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--card-background);
  width: 100%;
  border-radius: var(--card-border-radius);
  border: 1px solid var(--border-color);
}

.create-post-box img {
  width: 4rem;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  margin-right: 2rem;
}

.create-post-box button {
  width: 80%;
  padding: 1.5rem;
  border-radius: 5rem;
  border: 1px solid var(--border-color);
  background-color: var(--card-background);
  text-align: left;
  font-size: var(--post-text-size);
  letter-spacing: 0.2rem;
}

.create-post-box button:hover {
  background-color: var(--secondary-button);
  cursor: pointer;
  color: var(--details-color);
}

.notification-tab {
  position: sticky;
  top: 0;
  width: 20rem;
  max-height: 30rem;
  background-color: var(--card-background);
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--card-border-radius);
  border: 1px solid var(--border-color);
  padding: 1rem 0 1rem 0;
  z-index: 0;
}

.notification-header {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.75rem;
}

.notification-list {
  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
}

.notification-avatar img {
  width: 2rem;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  margin-right: 1rem;
}

.notification-content-discussion {
  font-size: 1rem;
}

.notification-details-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-post-box {
  padding: 1.5rem;
  font-size: 0.75rem;
  border: 1px solid var(--details-color);
  margin: 1rem 0 1rem 0;
  border-radius: var(--card-border-radius);
}

.notification-box {
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
}

.notification-box:hover {
  background-color: var(--secondary-button);
  cursor: pointer;
}

.unseen-notification {
  background-color: var(--secondary-button);
}

.notification-count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  /* background-color: var(--notification-red); */
  color: var(--white);
  padding: 0.5rem;
  width: 2rem;
  border-radius: 50%;
  margin: 0 0 0 1rem;
}

.modal-post {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000bc;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 2;
}

.modal-content-discussion {
  background-color: var(--card-background);
  border: 1px solid var(--border-color);
  border-radius: var(--card-border-radius);
  width: 50%;
  height: 70%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
}

.modal-user {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modal-close-btn {
  background-color: var(--card-background);
  border: none;
  border-radius: 50%;
  aspect-ratio: 1;
}

.modal-close-btn img {
  width: 2rem;
}

.modal-close-btn:hover {
  background-color: var(--secondary-button);
  cursor: pointer;
}

.modal-header > div > img {
  width: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 50%;
}

.modal-body {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: scroll;
}

.modal-body textarea {
  width: 100%;
  height: 70%;
  border: none;
  padding: 1rem;
  font-size: 1rem;
}

.modal-body textarea:focus {
  outline: none;
}

.modal-post-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.post-button {
  padding: 1rem;
  font-size: 1.15rem;
  color: var(--card-background);
  background-color: var(--primary-button);
  border-radius: 2rem;
}

.post-button:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/***/
.modal-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.file-upload {
  position: relative;
  display: inline-block;
}

.file-input {
  position: absolute;
  left: -9999px;
}

.file-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #f0f0f0;
  color: var(--details-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  border-radius: 50%;
  margin: 1rem;
  margin-top: 0;
  /* width: 3rem; */
}

.file-label:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.modal-media {
  width: 100%;
  /* height: 30rem; */
  overflow-y: scroll;
  height: 100px;
}

.modal-media img,
.modal-media video,
.modal-media embed {
  width: 100%;
  height: 100%;
}

/* Style the label as desired */
